{% extends 'dash_base.html' %}


{% block title %}
      Visitor Details
{% endblock title %}


{% block content %}

<section class="full_height">
      {% if add_visit_form.errors %}
      {% for field in add_visit_form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  <p style="color: red;">{{ error|escape }}</p>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in add_visit_form.non_field_errors %}
          <div class="alert alert-danger">
              <p style="color: red;">{{ error|escape }}</p>
          </div>
      {% endfor %}
  {% endif %}
      <div >

            <div class="row ">

                  <!-- starting first column of visitior profile -->
            <div class="col-md-4">
                  <aside class="profile-nav alt">
                        <section class="card">
                        <div class="card-header user-header alt bg-dark">
                        <div class="media">
                        <a href="#">
                        <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="{{visitor.photo.url}}">
                        </a>
                        <div class="media-body">
                        <h3 class="text-light display-6">{{visitor.full_Name}}</h3>
                  
                  <p class="visitor_info"><i class="vfh">Contact:</i> {{visitor.contact_Number}}</p>
                  <p class="visitor_info"><i class="vfh">Date Registered:</i> {{visitor.date_Registered}}</p>
                 
                        </div>
                        </div>
                        </div>
                        <div class="row" style="float: left; padding: 3px 15px;">
                              <div class="col-md-12">
                                    <button class="btn btn-primary btn-sm" style="float: left;" data-toggle="modal" data-target="#addvisitmodal">Add Visit</button>
                              </div>
                          
                        </div>
                        <ul class="list-group list-group-flush vdpc">
                        <li class="list-group-item">
                        <a href="#">
                        <i class="fa fa-envelope-o"></i>
                        Total Visits: <span class="vpi">{{total_visits.count}}</span> 
                        </a>
                        </li>

                        <li class="list-group-item">
                          <a href="#">
                          <i class="fa fa-envelope-o"></i>
                          Alternative Contact: <span class="vpi">{{visitor.alternate_Contact_Number|default:"Not Provided"}}</span> 
                          </a>
                          </li>

                          
                        <li class="list-group-item">
                          <a href="#">
                          <i class="fa fa-envelope-o"></i>
                          Email: <span class="vpi">{{visitor.email|default:"Not Provided"}}</span> 
                          </a>
                          </li>
                       
                          
                        <li class="list-group-item">
                          <a href="#">
                          <i class="fa fa-envelope-o"></i>
                          Address: <span class="vpi">{{visitor.address|default:"Not Provided"}}</span> 
                          </a>
                          </li>
                      
                        </ul>
                        </section>
                        </aside>
                  
            </div>
            <!-- starting second column of visitor profile -->
            <div class="col-md-8" >
            
            
            <div class="visits_box" >

                  
{% if total_visits %}
<form  class="form-header" _lpchecked="1" style="margin-bottom: 3px;">
      <input id="myInput" class="au-input au-input--xl" type="text"  placeholder="Type visit details to search...">
      <button class="au-btn--submit" disabled >
      <i class="zmdi zmdi-search"></i>
      </button>
      </form>      
      
{% endif %}
                        
                  
            
                        
 {% if total_visits %}
 <div id="accordion" class="visits_accordian" >                    
 {% for v in total_visits %}
 <div class="card">
      <div class="card-header vnh">
        <a class="card-link" data-toggle="collapse" href="#{{v.id}}">
          <i class="zmdi zmdi-chevron-right"></i> {{v.visit_Date}}
        </a>
      </div>
      <div id="{{v.id}}" class="collapse " data-parent="#accordion">
        <div class="card-body">
            {{v.Description}}
        </div>
      </div>
    </div>
                 
 {% endfor %}
                                    
                        {% else %}
<button class="btn btn-primary" data-toggle="modal" data-target="#addvisitmodal">Add First Visit</button>
                        {% endif %}
                              
                       
                   
                        
            
                            
                      
                      </div>
            </div>
            
            
            
            
            </div>
            </div>
      </div>
</section>

<!-- Button to Open the Modal -->

    <!-- The Modal -->
    <div class="modal" id="addvisitmodal">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Adding Visit to {{visitor.full_Name}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <form method="POST" action="{% url 'visitor_details' visitor.pk %}">
                  {% csrf_token %}
                  {% for f in add_visit_form  %}
                  <label>{{f.label}}</label>
                  {{f}}
            {% endfor %}
            
            <input type="submit" class="btn btn-success" value="Add Visit" >
            </form>  
          </div>
    
        </div>
      </div>
    </div>






<!-- starting visit search scripts -->
<script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $(".visits_accordian .card").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });

</script>
<!-- ending visit search scripts -->



{% endblock content %}
      
      